main{
    background-color:aqua;
}
article{
    color:red;
}
.Heading{
    color:darkblue;
}
#Link {
    font-weight:bold;
}
footer{
    font-style:italic;
}
.teamstyle{
    background-color:purple;
}
.contactstyle{
    color:greenyellow;
}
.classstyle{
    background-color:hotpink;
}
nav ul li {
    display: inline-block;
}
/*add shadows later*/